<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Stakeholders: The Grid</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="connecting artists and technologists" />
    <meta
      property="og:description"
      content="connecting artists and technologists"
    />
    <meta property="og:title" content="the grid" />
    <meta
      name="og:image"
      content="https://cdn.glitch.com/2d9dc0ec-eb82-4a05-95d0-0af9c980e4f7%2Fgridcap.PNG?v=1575488898709"
    />
    <meta property="og:image:width" content="150" />
    <meta property="og:image:height" content="330" />
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <script src="https://npmcdn.com/csv2geojson@latest/csv2geojson.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-130208331-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-130208331-3");
    </script>
    <link
      href="https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="main">
      <div id="map"></div>
      <nav id="filter-group" class="filter-group"></nav>
      <div class="map-overlay" id="features">
        <div id="icon-left">
          <a href="https://www.eunicglobal.eu/" target="_blank"
            ><img
              src="https://cdn.glitch.com/2d9dc0ec-eb82-4a05-95d0-0af9c980e4f7%2FLogo%20EUNIC-RGB-blue2.png?v=1575167996386"
              alt="EUNIC"
          /></a>
        </div>
        
        <a
          class="openbtn" href="https://forms.gle/VeGziaQzARpcjb896" target="_blank"
        >
          Add Yourself to the Grid
        </a>
      </div>
      <div id="container-base" class="container-base">
        <div id="container" class="container">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >X</a
          >
          <div id="popup-content-mobile" class="popup-content-mobile"></div>
        </div>
      </div>
    </div>

    <div id="geocoder" class="geocoder"></div>
    <script>
      function createMobilePopup(text) {
        document.getElementById("popup-content-mobile").innerHTML = text;
        //set its conte t o text

        openNav();
      }

      function openNav() {
        document.getElementById("container-base").style.visibility = "visible";
      }

      function closeNav() {
        document.getElementById("container-base").style.visibility = "hidden";

        map.setFilter("highlight", ["in", "Name", ""]);
      }
    </script>
    <script>
      mapboxgl.accessToken =
        "pk.eyJ1IjoidmJlY2tsZXkiLCJhIjoiY2l2bjVpOXN1MDA1MzJvbjE5Y2xveWhreSJ9.5UtoVF_PlcNGeVX07j2DWg";

      var filterGroup = document.getElementById("filter-group");

      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/dark-v9",
        center: [-122.440389, 37.763519],
        zoom: 12
      });

      //The popup//
      var popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false,
        offset: [0, 0]
      });

      var popupLongText = "";

      function setPopupContent(content) {
        //save long text without abbreviating in popupLongText
        popupLongText = content;
        // abbreviate here rahter than down below
        popup.setHTML(content);
      }

      function expandPopupContent() {
        popup.setHTML(popupLongText);
      }

      //this makes it so that anytime a popup is open and then a click is made not on an object the popup closes
      //also allowing for one popup to close while another opens
      var popupOpen = false;

      map.on("click", function(e) {
        if ((popupOpen = true)) {
          popup.remove();
          popupOpen = false;
        }
      });

      var colorMap = {
        Artist: "#DAA51B",
        "Tech Company": "#5D69B1", //good
        "Art Institution": "#ED645A", //goodCC3A8E
        "Non Profit Organization": "#99C945", //no make other
        "Government Entity": "#2F8AC4",
        "Private Company (non tech)": "#52BCA3",
        Other: "#CC61B0" //gray
      };

      // #E58606,#5D69B1,#52BCA3,#99C945,#CC61B0,#24796C,#DAA51B,#2F8AC4,#764E9F,#ED645A,#CC3A8E,#

      map.on("load", function() {
        $.ajax({
          type: "GET",
          url:
            "https://docs.google.com/spreadsheets/d/e/2PACX-1vTl7sNwMIioDsDqGp2VrZYuQ3WlDLAGacT5Gqz9tPXWbl-X4KzNWNJmk9cNzGKY_geIb4vRgHaoTAGJ/pub?gid=1445741329&single=true&output=csv",
          dataType: "text",
          success: function(csvData) {
            makeGeoJSON(csvData);
          }
        });
      });

      ////////////////////////////////////////////////////////////////////
      // Stakeholders ////////////////////////////////////////////////////////
      ////////////////////////////////////////////////////////////////////
      function makeGeoJSON(csvData) {
        csv2geojson.csv2geojson(
          csvData,
          {
            latfield: "Latitude",
            lonfield: "Longitude",
            delimiter: ","
          },

          function(err, stakeholders) {
            map.addSource("stakeholders", {
              type: "geojson",
              data: stakeholders
            });

            map.addLayer({
              id: "highlight",
              type: "circle",
              //    maxzoom: 10,
              source: "stakeholders",
              layout: {},
              paint: {
                "circle-opacity": 0,
                "circle-radius": [
                  "interpolate",
                  ["linear"],
                  ["zoom"],
                  5,
                  3,
                  30,
                  12
                ],
                "circle-stroke-color": "#fff",
                "circle-stroke-width": [
                  "interpolate",
                  ["linear"],
                  ["zoom"],
                  10,
                  2,
                  14,
                  3
                ]
              },
              filter: ["in", "Name", ""]
            });

            stakeholders.features.forEach(function(feature) {
              var symbol = feature.properties["category_grouped"];
              var layerID = symbol;

                   console.log("list: ",stakeholders.features);

              if (!map.getLayer(layerID)) {
                map.addLayer({
                  id: layerID,
                  type: "circle",
                  source: "stakeholders",
                  //  'minzoom': 10,
                  paint: {
                    "circle-color": [
                      "match",
                      ["get", "category_grouped"],
                      ["Artist"],
                      colorMap["Artist"],
                      ["Tech Company"],
                      colorMap["Tech Company"],
                      ["Art Institution"],
                      colorMap["Art Institution"],
                      ["Non Profit Organization"],
                      colorMap["Non Profit Organization"],
                      ["Government Entity"],
                      colorMap["Government Entity"],
                      ["Private Company (non tech)"],
                      colorMap["Private Company (non tech)"],
                      ["Other"],
                      colorMap["Other"],
                      "#ffffff"
                    ],
                    "circle-radius": [
                      "interpolate",
                      ["linear"],
                      ["zoom"],
                      5,
                      4,
                      30,
                      12
                    ]
                    /*       "circle-stroke-color": "#000",
                    "circle-stroke-width": [
                      "interpolate",
                      ["linear"],
                      ["zoom"],
                      10,
                      0,
                      14,
                      1
                    ] */
                  },
                  filter: ["==", ["get", "category_grouped"], symbol]
                });

                console.log("groups: ", layerID);

                // Add checkbox and label elements for the POI layer//
                var input = document.createElement("input");
                input.type = "checkbox";
                input.id = layerID;
                input.checked = true;
                filterGroup.appendChild(input);

                var legend_icon = null;
                var type = feature.properties.category_grouped;

                // This assigns urls for the icons in the slider table//
                legend_icon = colorMap[type];

                var label = document.createElement("label");
                var image1 = "<img src=" + legend_icon + " class='w3-image'>";

                label.setAttribute("for", layerID);
                label.innerHTML = feature.properties.category_grouped;
                filterGroup.appendChild(label);
                label.style.backgroundColor = legend_icon;

                // When the checkbox changes, update the visibility of the layer.
                input.addEventListener("change", function(e) {
                  map.setLayoutProperty(
                    layerID,
                    "visibility",
                    e.target.checked ? "visible" : "none"
                  );
                });
              }

              map.on("click", layerID, function(e) {
                var list_items = "";

                var bbox = [[e.point.x, e.point.y], [e.point.x, e.point.y]];
                var features = map
                  .queryRenderedFeatures(bbox, {
                    layers: [
                      "Artist",
                      "Tech Company",
                      "Non Profit Organization",
                      "Government Entity",
                      "Other",
                      "Private Company (non tech)",
                      "Art Institution"
                    ]
                  })
                  .sort(function(a, b) {
                    return a.properties.more.length - b.properties.more.length;
                  });

                var filter = features.reduce(
                  function(memo, feature) {
                    memo.push(feature.properties.Name);
                    return memo;
                  },
                  ["in", "Name"]
                );

                map.setFilter("highlight", filter);

                features.forEach(function(feature) {
                  var coord = feature.geometry.coordinates;
                  var name = feature.properties.Name;
                  var type = feature.properties.category_text;
                  var desc = feature.properties.location;
                  var more = feature.properties.more;

                  var website =
                    "<a href=" +
                    '"' +
                    formatUrl(feature.properties.contact_info) +
                    '"' +
                    ' target="_blank">' +
                    name +
                    "</a>";

                  list_items =
                    list_items +
                    "<h3>" +
                    website +
                    "</h3>" +
                    type +
                    "<br>" +
                    desc +
                    "<br>" +
                    more;
                });

                var contentAsString = "<ul>" + list_items + "</ul>";

                createMobilePopup(contentAsString);
              });
            });
          }
        );
      }

      var nav = new mapboxgl.NavigationControl({
        showCompass: false
      });
      map.addControl(nav, "top-right");

      function formatUrl(contactInfo) {
        if (/^[a-z0-9]+:\/\//.test(contactInfo) != true) {
          contactInfo = "https://" + contactInfo;
        }
        return contactInfo;
      }

      function detectmob() {
        if (window.innerWidth <= 800 || window.innerHeight <= 700) {
          return true;
        } else {
          return false;
        }
      }
    </script>
  </body>
</html>
